body {
  background-color: white;
}

div.bordermail {
  border: 5px solid black;
  margin: 10px 10px 100px;
  padding: 10px;
  border-radius: 25px;
}

div.bordermeta {
  border: 3px solid blue;
  margin: 10px 10px -7px;
  padding: 10px;
  border-radius: 25px;
  width: auto;
}

hr {
  border: 3px solid black;
  border-radius: 5px;
}

div.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

details {
  border: 1px solid #d4d4d4;
  padding: .75em .75em 0;
  margin-top: 10px;
  box-shadow:0 0 20px #d4d4d4;
}

summary {
  font-weight: bold;
  margin: -.75em -.75em 0;
  padding: .75em;
  background-color: #5f75a4;
  color: #fff;
}

details[open] {
  padding: .75em;
  border-bottom: 1px solid #d4d4d4;
}

details[open] summary {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;
}

